{% extends "layout.html" %}
{% block body %}
<div id="rss-prev" class="circle">
    <div class="triangle-left"></div>
</div>
<ul class="rss-news">
{% for i in data %}
{% autoescape false %}
    <li>
         <!-- <b>{# i.published_parsed.strftime() #} </b> -->
         <b>14 de junho de 2008 </b>
        <a href="{{ i.links[0].href }}"> {{ i.title }} </a>
        <!-- {{ i.content[0].value }} -->
    </li>
    {% endautoescape %}
{% endfor %}
</ul>
<div id="rss-next" class="circle">
    <div class="triangle-right"></div>
</div>

{% endblock %}