{% extends "layout.html" %}
{% block body %}
<div id="rss-prev" class="circle">
    <div class="triangle-left"></div>
</div>
<ul class="rss-news">
{% for i in data %}
{% autoescape false %}
    <li>
         <b>{{ time.strftime('%d de %B de %Y',i.published_parsed) }} </b>
        <a href="{{ i.links[0].href }}"> {{ i.title }} </a>
        <article>
            {{ i.content[0].value }}
        </article>
    </li>
    {% endautoescape %}
{% endfor %}
</ul>
<div id="rss-next" class="circle">
    <div class="triangle-right"></div>
</div>
{% endblock %}